@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");

html, body {
  background-color: black;
}

#app {
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #4dd05b;
  margin-top: 60px;
}
